In [81]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import os
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [82]:
Incidents_upto=pd.read_excel("Incidents up to 30.11.2021.xlsx")
new_header= Incidents_upto.iloc[0]
Incidents_upto=Incidents_upto[1:]
Incidents_upto.columns=new_header
Incidents_upto.head()

0 No.  ...                                            Summary
1   1  ...                             A Live Firing Practice
2   2  ...  The security patrol discovered up to six robbe...
3   3  ...  Three robbers onboard. Two ropes had been stolen.
4   4  ...  Three robbers armed with knives managed to boa...
5   5  ...  An interaction has occurred between a Korean f...

[5 rows x 16 columns]

In [83]:
wld_trs_ports=pd.read_excel("wld_trs_ports_wfp.xls")
wld_trs_ports.head()

                       FID  ...                                           shape
0  wld_trs_ports_wfp.14314  ...  POINT (20.629661913000007 -0.9456024360000015)
1  wld_trs_ports_wfp.14315  ...             POINT (-132.009692535 53.247424029)
2  wld_trs_ports_wfp.14316  ...        POINT (-151.415532437 59.60158521400001)
3  wld_trs_ports_wfp.14317  ...    POINT (-74.00209774799998 40.70610420999998)
4  wld_trs_ports_wfp.14318  ...   POINT (-0.2151185050000208 53.64560881900002)

[5 rows x 25 columns]

In [84]:
#converting in  radians
wld_trs_ports['latitude'] = np.radians(wld_trs_ports['latitude'])
wld_trs_ports['longitude'] = np.radians(wld_trs_ports['longitude'])
wld_trs_ports.filter(['latitude','longitude'])

      latitude  longitude
0    -0.016504   0.360055
1     0.929343  -2.304004
2     1.040244  -2.642700
3     0.710455  -1.291580
4     0.936293  -0.003755
...        ...        ...
3570 -0.037649   0.506458
3571 -0.079057   0.324699
3572 -0.055484   0.282726
3573 -0.101753   0.303687
3574  0.151557   0.527855

[3575 rows x 2 columns]

In [85]:
from sklearn.neighbors import DistanceMetric
dist = DistanceMetric.get_metric('haversine')
wld_trs_ports[['latitude','longitude']].to_numpy()
distance=dist.pairwise(wld_trs_ports [['latitude','longitude']].to_numpy())*6373
print(distance)

[[    0.         13680.76886184 13460.80858451 ...   551.5794532
    650.91096231  1510.89176488]
 [13680.76886184     0.          1379.74267239 ... 13739.20212796
  14062.53140728 12931.1725877 ]
 [13460.80858451  1379.74267239     0.         ... 13655.9660283
  13965.15615162 12424.58414331]
 ...
 [  551.5794532  13739.20212796 13655.9660283  ...     0.
    323.54246935  2041.33814675]
 [  650.91096231 14062.53140728 13965.15615162 ...   323.54246935
      0.          2152.86587495]
 [ 1510.89176488 12931.1725877  12424.58414331 ...  2041.33814675
   2152.86587495     0.        ]]

In [86]:
dataframe=pd.DataFrame(columns=wld_trs_ports.portname, index=wld_trs_ports.portname)
dataframe.shape

(3575, 3575)

In [87]:
DataFrame_distance=pd.DataFrame(distance,columns=wld_trs_ports.portname, index=wld_trs_ports.portname)
DataFrame_distance

portname                Watsi-Genge  ...      Nyaroump
portname                             ...
Watsi-Genge                0.000000  ...   1510.891765
Charlotte (Skidegate)  13680.768862  ...  12931.172588
Homer                  13460.808585  ...  12424.584143
Hartsdale              10469.743267  ...  10559.092039
Killingholme            6370.647304  ...   5694.139697
...                             ...  ...           ...
Kihara                   942.347368  ...   1213.445022
Mazinga                  457.781395  ...   1956.178416
Malela                   551.579453  ...   2041.338147
NaN                      650.910962  ...   2152.865875
Nyaroump                1510.891765  ...      0.000000

[3575 rows x 3575 columns]

In [88]:

list(DataFrame_distance.columns)
list_DataFrame_ports=list(DataFrame_distance.columns)

In [89]:
dict_df_distance=DataFrame_distance.to_dict()

In [90]:
from math import radians, cos, sin, asin, sqrt

def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r


def near_by_incident(incident_point, test_point):
  #center_point = [{'lat': -7.7940023, 'lng': 110.3656535}]
  #test_point = [{'lat': -7.79457, 'lng': 110.36563}]

  lat1 = center_point[0]['lat']
  lon1 = center_point[0]['lng']
  lat2 = test_point[0]['lat']
  lon2 = test_point[0]['lng']

  radius = 12000 # in kilometer
  a = haversine(lon1, lat1, lon2, lat2)
  if a <= radius:
      return True
  else: return False

def near_any_incident(port,incidents,ports):
  all_incidents = [{'lat':incidents['Lat'][i+1], 'lng':incidents['Long'][i+1]} for i in range(len(incidents))]
  try: point = [{'lat':ports[ports['portname'] == port]['latitude'].iloc[0], 'lng':ports[ports['portname'] == port]['longitude'].iloc[0]}] 
  except: return True
  for incident in all_incidents:
    if near_by_incident(incident,point): return True
  return False

In [91]:
import sys 
from heapq import heapify, heappush, heappop

def dijsktra(graph,src,dest):
    inf = float(sys.maxsize)
    node_data={}
    for element in list_DataFrame_ports:
        node_data[element]={'cost':inf,'pred':[]}
      
    node_data[src]['cost']=0
    visited=[]
    temp=src
    for i in range(3575):
        if temp not in visited:
            visited.append(temp)
            min_heap=[]
            for j in graph[temp]:
                if j == 'Soma': continue
                if j not in visited:
                    cost=node_data[temp]['cost']+graph[temp][j]
                if cost<node_data[j]['cost'] and not near_any_incident(j,Incidents_upto,wld_trs_ports):
                    node_data[j]['cost']=cost
                    node_data[j]['pred'].append(temp)
                heappush(min_heap,(node_data[j]['cost'],j))
        heapify(min_heap)
        temp=min_heap[0][1]
    node_data[dest]['pred'].append(dest)
    print("Shortest Distance: " + str(node_data[dest]['cost']))
    print("Shortest Path: " + str(node_data[dest]['pred']))
                        
if __name__ =="__main__":
    graph=dict_df_distance
    
    dijsktra(graph,'Hartsdale','Dili')

Shortest Distance: 15955.576484492898
Shortest Path: ['Hartsdale', 'Dili']